@media all and (min-width: 480px) {
    .Login {
      padding: 300px 0;

    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Button {
      margin-top: 25px;
      margin-left: 235px;
    }
    
    .phonelabel {
      margin-left: -210px;
      margin-bottom: 10px;
    }

    .passwordlabel {
      margin-left: -250px;
      margin-top: 10px;
    }
  }