    .ProfilePage {
        margin: 2% 10% 0% 10%;
        width: 60%;
        height: 50%;	
        background: grey;
        border-radius: 5px;
}
    .ProfilePic{
        position: relative;
        left: -20%;
        border-radius: 50%;
    }
    .Username {
        position: relative;
        left: -20%;
        top: 4px;
    }

    .Profil{
        width: 100%;
        background: pink;
    }
    .Forms{
        width: 60%;
        position: relative;
        left: 15%;
    }

    .example-text-box {
        width: 50%;
        position: relative;
        left: 25%;
        background: red;
        border: black 2px solid;
        border-radius: 3px;
        padding-left: 1px;
    }