@media all and (min-width: 480px) {
    .Register {
      padding: 300px 0;

    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Button {
      margin-left: 215px;
    }

    .Register .name, .phoneNumber, .password, .age, .experience, .location, .password {
        margin-top: 10px;
        display:flex;
      }

    .errormsg {
      margin-top: 20px;
      color: red;
      font-size: 12px;
    }

      /*
        Hardkodet marginer for å få til funksjonalitet
      */
  }